@tailwind base;
@tailwind components;
@tailwind utilities;

.zoom-enter .content {
    opacity: 0;
    transform: scale(0.5);
}
.zoom-enter-active .content {
    opacity: 1;
    transform: scale(1);
}
.zoom-exit .content {
    opacity: 1;
}
.zoom-exit-active .content {
    opacity: 0;
    transform: scale(0.5);
}

.fade-enter .tooltip {
    opacity: 0;
}
.fade-enter-active .tooltip {
    opacity: 1;
}
.fade-exit .tooltip {
    opacity: 1;
}
.fade-exit-active .tooltip {
    opacity: 0;
}

.toggle-input {
    /* visually hidden but still accessible */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    width: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
}
